<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="PHP-SRePS" />
    <meta name="keywords" content="SWE300010 - Development Project 2 - Design, Planning and Management" />
    <meta name="author" content="Timothy Keesman" />
    <title>Item Forecast</title>

    <script src="/js/jquery-3.4.1.min.js"></script>
    <link href="/html/styles/stylesheet.css" rel="stylesheet" />

  </head>

  <body>
    <h1>Item <%=item_type_id %> Details</h1>
    <p>Name: <%=name %></p>
    <p>Price: $<%=price %></p>

    <h2>Past Sales</h2>
    <table>
      <tr>
        <th>Item</th>
        <th>Date</th>
        <th>Quantity</th>
      </tr>

      <%- data %>
    </table>

    <h2>Predicted Sales</h2>
    <p><%=forecast %> Items</p>

    <img src=<%=graph %> />
  </body>
</html>
