<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="PHP-SRePS" />
    <meta name="keywords" content="SWE300010 - Development Project 2 - Design, Planning and Management" />
    <meta name="author" content="Wilson To" />
    <title>Sales Performance</title>

    <script src="/js/jquery-3.4.1.min.js"></script>
    <link href="/html/styles/stylesheet.css" rel="stylesheet" />

    <script>
        function update_form()
        {
          window.location = window.location.href.split("?")[0] + "?itemID=" + findGetParameter("itemID") + "&start_date=" + $("#start_date").val() + "&end_date=" + $("#end_date").val();
        }

        //https://stackoverflow.com/questions/5448545/how-to-retrieve-get-parameters-from-javascript
        function findGetParameter(parameterName)
        {
          var result = null,
              tmp = [];
          var items = location.search.substr(1).split("&");
          for (var index = 0; index < items.length; index++)
          {
              tmp = items[index].split("=");
              if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
          }
          return result;
        }
    </script>

  </head>

  <body class='iframe_layout'>

  <fieldset>
    <legend>Search Options</legend>
      <p>Start Date: <label for='start_date'>Start Date: </label><input type="date" name='start_date' id='start_date'/></p>
      <p>End Date: <label for='end_date'>End Date: </label><input type="date" name='end_date' id='end_date'/></p>

      <button value="Search" class="formBtn" onclick="update_form()">Submit</button>

  </fieldset>

      <h1>Item <%=item_id %> Details</h1>
      <p>Name: <%=name %></p>
      <p>Price: $<%=price %></p>

      <h2>Past Sales</h2>
      <table>
        <tr>
          <th>Date</th>
          <th>Quantity</th>
        </tr>

        <%- data %>
      </table>

      <h2>Sales Record</h2>
      <p>Items</p>

      <img class='graph_img' src=<%=graph %> />

  </body>
</html>
