<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Stock Level Manager</title>
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/loadhtml.js"></script>

  <!-- All CSS for this webpage can be found in a section in the stylesheet -->
  <link href="html/styles/stylesheet.css" rel="stylesheet" />
</head>

<body>
	<!-- Include Header element -->
  <div class="navbar" id="navbar"></div>
  <h1>Stock Levels</h1>

  <fieldset>
    <legend>Search Options</legend>
    <form>
      <table>
        <tr>
        <td><input type="radio" name='item_subset' id='all' checked value='all'/><label for='all'>Show All Items</label></td>
        <td><input type="radio" name='item_subset' id='pos' value='pos'/><label for='pos'>Show Only With 1 or More Stock</label></td>
        <td><input type="radio" name='item_subset' id='neg' value='neg'/><label for='neg'>Show Items With 0 or Less Stock</label></td>
      </tr>
    </table>

      <label for='all'>Search for Item by Name: </label><input type="text" name='item_string' id='item_string'/>


      <input type="submit" value="Search" class="formBtn" />
    </form>
  </fieldset>

  <br/>


  <!-- Table to display Sales Record Data -->
  <table class="table table-hover table-bordered">

    <!-- Hard coded table headers -->
    <thead>
      <tr>
        <th scope="col">Item ID</th>
        <th scope="col">Item Name</th>
        <th scope="col">Item Type</th>
        <th scope="col">Item Stock Level</th>
        <th scope='col'>Items Sold</th>
        <th scope='col'>Items Remaining</th>

      </tr>
    </thead>

    <!-- Table body -->
    <tbody>

    <!-- If there is table data - print it out -->
    <% if(ItemData.length) {
      <!-- Create table entry for each observation -->
      for(var i = 0; i < ItemData.length; i++)
      { %>
        <tr>
          <td><%= ItemData[i].Item_ID %></td>
          <td><%= ItemData[i].Item_Name %></td>
          <td><%= ItemData[i].item_Type %></td>
          <td><%= ItemData[i].stockQuantity %></td>
          <td><%= ItemData[i].itemsSold %></td>
          <%
            if (ItemData[i].itemsRemaining > 0)
            {
              %>
              <td class='stock_available'><%= ItemData[i].itemsRemaining %></td>
              <%
            }
            else if (ItemData[i].itemsRemaining == 0)
            {
              %>
              <td><%= ItemData[i].itemsRemaining %></td>
              <%
            }
            else
            {
              %>
              <td class="no_stock_available"><%= ItemData[i].itemsRemaining %></td>
              <%
            }
          %>


        </tr>
    <% }
    }
    <!-- Else there is no table data -->
    else { %>
      <tr>
      	<!-- Alert the user -->
        <td colspan="6">NO ITEM DATA FOUND - Add Item records to database and they will display here</td>
      </tr>
    <% }
    %>
    </tbody>
  </table>

  <!-- Include Footer element -->
  <br />
  <div id="footer"> </div>
</body>
</html>
